<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.PostMapper">

    <select id="findAllDiaryRecords" resultType="com.example.model.Post">
        SELECT
            id as id, 
            user_name as userName,
            category_id as categoryId,
            diary_day as diaryDay,
            record1 as record1,
            record2 as record2,
            record3 as record3
        FROM
            posts
        WHERE
            user_name = #{userName}
        ORDER BY
            diary_day,category_id
    </select>

    <select id="findOneDiaryRecord" resultType="com.example.model.Post">
        SELECT
            user_name as userName,
            category_id as caregoryId,
            diary_day as diaryDay,
            record1 as record1,
            record2 as record2,
            record3 as record3,
            image_name as imageName,
            memo as memo,
            create_at as createAt,
            update_at as updateAt
        FROM
            posts
        WHERE
            user_name = #{userName}
        AND category_id = #{categoryId}
        AND diary_day = #{diaryDay}
    </select>
    
    <insert id="insertDiaryRecord">
        INSERT INTO
            posts(user_name,category_id,diary_day,record1,record2,record3,image_name,memo,create_at,update_at)
        VALUES
           (#{userName},
            #{categoryId},
            #{diaryDay},
            #{record1},
            #{record2},
            #{record3},
            #{imageName},
            #{memo},
            #{createAt},
            #{updateAt})
    </insert>
    
    <update id="updateDiaryRecord" parameterType="com.example.model.Post" >
        UPDATE
            posts
        SET
            user_name = #{userName},
            category_id = #{categoryId},
            diary_day = #{diaryDay},
            record1 = #{record1},
            record2 = #{record2},
            record3 = #{record3},
            image_name = #{imageName},
            memo = #{memo},
            update_at = #{updateAt}
        WHERE 
            user_name = #{userName}
        AND 
            diary_day = #{diaryDay}
        AND 
            category_id = #{categoryId}
    </update>
    
    <delete id="deleteDiaryRecord">
        DELETE
        FROM
            posts
        WHERE
            user_name = #{userName}
        AND 
            category_id = #{categoryId}
        AND 
            diary_day = #{diaryDay}
    </delete>

</mapper>