<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">

	<select id="identifyUser" parameterType="java.lang.String"
		resultMap="userDetails">

		SELECT id,
		name,
		password,
		mail,

		FROM user
		
		where name = #{name}
		
		
	</select>
	
	
	<select id="identifyMail" parameterType="java.lang.String"
		resultMap="userDetails">

		SELECT id,
		name,
		password,
		mail,

		FROM user
		
		where mail = #{mail}
		
		
	</select>
	
	

	<resultMap type="com.example.model.User" id="userDetails">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="mail" column="mail" />

	</resultMap>


	<insert id="registerUser">
		INSERT INTO user
		(
		name,
		password,
		mail

		)
		VALUES
		(
		#{name}
		,#{password}
		,#{mail}

		)

	</insert>
	
	
	<delete id = "deleteUser" parameterType = "String">
        DELETE
        FROM
            user
        WHERE
            name = #{name}
    </delete>

</mapper>