<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">

	<select id="identifyUser" parameterType="java.lang.String"
		resultMap="userDetails">

		SELECT id,
		username,
		password,
		mail,

		FROM user
	</select>

	<resultMap type="com.example.model.User" id="userDetails">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="mail" column="mail" />


	</resultMap>


	<insert id="registerUser">
		INSERT INTO user
		(
		username,
		password,
		mail

		)
		VALUES
		(
		#{username}
		,#{password}
		,#{mail}

		)

	</insert>

</mapper>