<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/common}" xmlns:th="http://www.thymeleaf.org">
<head>

<link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css" />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js'></script>
	<script>
	
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView : 'dayGridMonth', 
			locale: 'ja',
			events: {url: '/events/all'}
		});
		calendar.render();
	});

    </script>
</head>

<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>Calender</h1>
	</div>
	<div>
		
		<form role="form" id="logout" th:action="@{/logout}" method="post">
			<button type="submit">ログアウト</button>

		</form>
	</div>
	<form role="form"  th:action="@{/post}" method="post">
			<button type="submit">新規投稿</button>

		</form>
	
	<div id='calendar'></div>
</section>

</html>



