<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
     xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/common}">
<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>MyPage</h1>
	</div>
	
	<div class="row justify-content-center">
	<div class="col-3">
<a class="btn w-100 btn-outline-dark" th:href="@{/calendar}">カレンダーへ戻る</a><br> <br>
<a class="btn w-100 btn-outline-dark"  th:href="@{/index/mypage/confirm}">アカウントを削除する</a>
</div>
</div>

</section>