<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/common}" xmlns:th="http://www.thymeleaf.org">
<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>MEALMORY</h1>
		<h2>Record your meal</h2>
		<p class="lead">
			普段の食事を記録するアプリ<br />
		</p>
	</div>
	<div class="d-none d-lg-block d-xl-block d-xxl-block">
		<div class="row justify-content-center">
		
		　<form th:action="@{/calendar}"   method="post">
		
			<p>メールアドレス</p>
			<input type="text" name="mail" size="20" />
		
			<p>パスワード</p>
			<input type="text" name="password" size="20" />
		
			
			<div class="col-15">
				<a class="btn w-100 btn-outline-light"  th:href="@{/calendar}">Login</a>
			</div>
			<div class="col-15">
				<a class="btn w-100 btn-outline-light"  th:href="@{/signup}">signup</a>
				</div>
			</form>
		</div>
	</div>

</section>