<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/common}" xmlns:th="http://www.thymeleaf.org">
<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>MEALMORY</h1>
		<h2>Record your meal</h2>
		
		
		
	</div>
	<div class="row p-form-top ">
		<div class="col">
		
		　<form th:action="@{/calendar}" method="post">
		 <div class="mb-3">
			 <label for="exampleInputName" class="form-label">userID</label>
			<input type="text" name="name"class="form-control"  placeholder="ユーザーID"   />
			</div>
			
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">password</label>
			<input type="password" name="password" class="form-control" placeholder="パスワード"  />
			
			<div class="text-danger" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
				<div>ユーザーID又はパスワードが違います</div>
				 </div>
				
				 </div>
			<div class="col-15">
				<input type="submit" class="btn w-100 btn-outline-dark" value=Login>
			</div>
			
			</form>
			
		</div>
	</div>

</section>