<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/common}">

<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>You have logged out successfully.</h1>
	</div>
	<div class="d-none d-lg-block d-xl-block d-xxl-block">
		<div class="row justify-content-center">
			<div class="col-3">
				<a class="btn w-100 btn-outline-dark" href="signup">Signup</a>
			</div>
			<div class="col-3">
				<a class="btn w-100 btn-outline-dark" href="login">Login</a>
			</div>
		</div>
	</div>
</section>
</html>