<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/common}">
<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>新規登録</h1>
	</div>
	　<form th:action="@{/signup}" method="post">

		<tr>
			<th>名前</th>
			<td><input type="text"  name="name" size="10"/></td>
		</tr>
		<br>
		<tr>
			<th>パスワード</th>
			<td><input type="text" name="password" size="20" /></td>
		</tr>
		<br>
		<tr>
			<th>メールアドレス</th>
			<td><input type="text" name="mail" size="20" /></td>
		</tr>
		

		<input type="submit" value="登録"/>
	</form> 
</section>