<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/common}" xmlns:th="http://www.thymeleaf.org">
<section layout:fragment="content">
	<div class="col-lg-8 offset-lg-2 text-center">
		<h1>新規登録</h1>
	</div>
	
	
	　 <form th:action="@{/signup}" th:object="${signupForm}"
          method="post" >
          <div class="mb-3">
            <label for="name" th:text=name ></label>
            <input type="text" class="form-control" 
              th:errorclass="is-invalid" th:field="*{name}" name="name" >
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}"></div>
            
            
            </div>
          

          <div class="mb-3">
            <label for="mail" th:text=mail ></label>
            <input type="email" class="form-control" 
              th:errorclass="is-invalid" th:field="*{mail}" name="mail" >
            <div th:if="${#fields.hasErrors('mail')}" class="invalid-feedback" th:errors="*{mail}"> </div>
            </div>
         

          <div class="mb-3">
            <label for="password" th:text=password ></label>
            <input class="form-control"  
              th:errorclass="is-invalid" th:field="*{password}" name="password" >
            
            <div class="invalid-feedback" th:errors="*{password}">
            </div>
          </div>

          <button class="btn w-100 btn-outline-dark"
            type="submit" th:text=signup >
          </button>
        </form>
</section>